scraping/channels_scraping.json filter=lfs diff=lfs merge=lfs -text
scraping/comments_scraping.json filter=lfs diff=lfs merge=lfs -text
scraping/medfluencer_channel_names.json filter=lfs diff=lfs merge=lfs -text
scraping/playlists_scraping.json filter=lfs diff=lfs merge=lfs -text
scraping/videos_scraping.json filter=lfs diff=lfs merge=lfs -text
answers_per_field.json filter=lfs diff=lfs merge=lfs -text
answers_per_field_layman_with_instruction.json filter=lfs diff=lfs merge=lfs -text
scraping filter=lfs diff=lfs merge=lfs -text
questions_per_field.json filter=lfs diff=lfs merge=lfs -text
evaluation/answers_per_field.json filter=lfs diff=lfs merge=lfs -text
evaluation/answers_per_field_layman_with_instruction.json filter=lfs diff=lfs merge=lfs -text
evaluation/questions_per_field.json filter=lfs diff=lfs merge=lfs -text
mesh.xml filter=lfs diff=lfs merge=lfs -text
MH.TXT filter=lfs diff=lfs merge=lfs -text
ET.TXT filter=lfs diff=lfs merge=lfs -text
embeddings filter=lfs diff=lfs merge=lfs -text
embeddings/video_embeddings.json filter=lfs diff=lfs merge=lfs -text
embeddings/video_description_embeddings.json filter=lfs diff=lfs merge=lfs -text
embeddings/video_title_embeddings.json filter=lfs diff=lfs merge=lfs -text
embeddings/video_transcription_embeddings.json filter=lfs diff=lfs merge=lfs -text
embeddings/video_ids.json filter=lfs diff=lfs merge=lfs -text
evaluation/video_clustering.json filter=lfs diff=lfs merge=lfs -text
evaluation/video_description_embeddings_2d.npy filter=lfs diff=lfs merge=lfs -text
embeddings/comment_embeddings_part_1.npy filter=lfs diff=lfs merge=lfs -text
embeddings/comment_embeddings_part_2.npy filter=lfs diff=lfs merge=lfs -text
embeddings/comment_embeddings_part_3.npy filter=lfs diff=lfs merge=lfs -text
embeddings/comment_embeddings_part_4.npy filter=lfs diff=lfs merge=lfs -text
evaluation/comment_embeddings_2d.npy filter=lfs diff=lfs merge=lfs -text
mesh/ET.TXT filter=lfs diff=lfs merge=lfs -text
mesh/MH.TXT filter=lfs diff=lfs merge=lfs -text
embeddings/video_description_embeddings.npy filter=lfs diff=lfs merge=lfs -text
embeddings/video_ids.npy filter=lfs diff=lfs merge=lfs -text
embeddings/video_title_embeddings.npy filter=lfs diff=lfs merge=lfs -text
embeddings/video_transcription_embeddings.npy filter=lfs diff=lfs merge=lfs -text
evaluation/comment_embeddings_2d_clustering.npy filter=lfs diff=lfs merge=lfs -text
evaluation/comment_clustering.json filter=lfs diff=lfs merge=lfs -text
embeddings/video_transcription_chunks.json filter=lfs diff=lfs merge=lfs -text
embeddings/video_transcription_chunks_embeddings_part_1.npy filter=lfs diff=lfs merge=lfs -text
embeddings/video_transcription_chunks_embeddings_part_2.npy filter=lfs diff=lfs merge=lfs -text
embeddings/video_transcription_chunks_embeddings_part_3.npy filter=lfs diff=lfs merge=lfs -text
evaluation/ filter=lfs diff=lfs merge=lfs -text
evaluation/evaluation_metrics_rag.pkl filter=lfs diff=lfs merge=lfs -text
evaluation/answers_per_field_comments.json filter=lfs diff=lfs merge=lfs -text
evaluation/evaluation_metrics_rag_comments.pkl filter=lfs diff=lfs merge=lfs -text
evaluation/questions_per_field_comments.json filter=lfs diff=lfs merge=lfs -text
scraping/comments_scraping_flat.json filter=lfs diff=lfs merge=lfs -text
scraping/comments_scraping_extended.json filter=lfs diff=lfs merge=lfs -text
evaluation/answers_per_field_comments_extended.json filter=lfs diff=lfs merge=lfs -text
evaluation/evaluation_metrics_rag_comments_extended.pkl filter=lfs diff=lfs merge=lfs -text
evaluation/questions_from_comments.json filter=lfs diff=lfs merge=lfs -text
evaluation/questions_from_comments_rated.json filter=lfs diff=lfs merge=lfs -text
